.schedule__rectangle {
  border: 2px solid #D3B47F;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
  z-index: -1;
  margin-top: 51px;
  height: 502px;
}

@media screen and (max-width: 1200px){
  .schedule__rectangle {
    grid-column-start: 2;
    grid-column-end: 7;
  }
}

@media screen and (max-width: 760px){
  .schedule__rectangle {
    display: none;
  }
}