.menu__close-icon {
  border: none;
  background-color: #ffffff;
  background-image: url(../../../images/CloseIconBlack.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 40px;
  left: 40px;
}

.menu__close-icon:hover {
  cursor: pointer;
}