.hero__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.06em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
}

@media screen and (max-width: 900px){
  .hero__subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px){
  .hero__subtitle {
    font-size: 14px;
  }
}