.comments__name {
  margin: 0;
  margin-top: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.245em;
  color: #D3B47F;
}

@media screen and (max-width: 1000px){
  .comments__name {
    font-size: 16px;
  }
}