.schedule__food {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

@media screen and (max-width: 476px){
  .schedule__food {
    flex-direction: column;
  }
}