.header__container {
  margin: 55px auto 0;
  max-width: 1168px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  padding: 0 20px;
}
