.hero__icon {
  border: 1px solid #ffffff;
  border-radius: 9999px;
  color: #ffffff;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  text-decoration: none;
}

.hero__icon:hover {
  opacity: .5;
}