.header__burger {
  display: none;
}

.header__burger:hover {
  cursor: pointer;
}

@media screen and (max-width: 965px){
  .header__burger {
    display: block;
  }
}

@media screen and (max-width: 600px){
  .header__burger {
    width: 40px;
  }
}