.hero__button  {
  margin-top: 40px;
  padding: 38px 64px;
  background-color: #3A4574;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.hero__button:hover {
  cursor: pointer;
  background-color: #30418d;
}